.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
  
}
.main-input{
  width: 100%;
  text-align: center;
}
.search-input{
  width: 70%;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 15px 1px #bfa8bc;
  transition: all 0.3s;
}
.main-input input:focus{
  outline: none;
  box-shadow: 5px 5px 30px 5px #bfa8bc;
}
.day-week{
  width: 70%;
  height: auto;
  font-size: 1rem;
  box-shadow: 0 0 15px 1px #bfa8bc;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #833DB8, #ec77ab);
}
.btns{
  width: 100%;
  height: auto;
  

}
.btns button{
  width: 50%;
  height: 30px;
  border: none;
  background-image: linear-gradient(220deg, #ec77ab, #7873f5);
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 25px 3px #bfa8bc;
  color: #fff;
  
}